* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    background-color: rgb(19, 1, 1);
    margin: 0;
}

.centerChildren {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    height: 30%;

    background-color: rgb(33, 14, 14);
}

header h1 {
    display: block;
    color: rgb(103, 27, 20);
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.pixel {

    background-color: rgb(129, 4, 4);
    width: 80px;
    height: 80px;
    position: fixed;
    transition: all .5s cubic-bezier(0.47, 1.67, 0.41, 0.8);
    border-radius: 100px;
}

.not-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.score {
    color: rgba(255, 255, 255, 0.55);
    font-size: 1.5em;
    margin: 2rem;
}

.small-text {
    font-size: .8rem;
}

.high-score-server {
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1rem;
    justify-items: stretch;

}

.score>hr {
    margin-left: 5%;
    margin-right: 5%;

    margin-top: 1rem;
    margin-bottom: 2rem;
    opacity: .2;
}

.high-score-ol>li {
    display: flex;
    align-content: center;
    justify-content: space-between;

    justify-items: flex-end;
    justify-self: end;
    align-items: end;
    flex-wrap: wrap;

}

/* .high-score-ol>li :last-child {
  
    margin-left: auto;

} */


.high-score-ol {
    /* width: 60%; */
    margin-left: 1rem;
    flex-grow: 1;
}